<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>

        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>
         <div>
            <p>published: 1.02.2017, 12:14</p>
            <h2><a href="">My First Post</a></h2>
            <p>A template is a file that we can re-use to present different information in a consistent format – for example, you could use a template to help you write a letter, because although each letter might contain a different message and be addressed to a different person, they will share the same format.</p>
        </div>

        <div>
            <p>published: 1.01.2017, 12:14</p>
            <h2><a href="">My Second Post</a></h2>
            <p>A Django template's format is described in a language called HTML (that's the HTML we mentioned in the first chapter, How the Internet works).</p>
        </div>
    </body>
</html>
